/* Estilos para el contenedor principal del navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;    
    background-color:rgb(39, 36, 28);
    color: #fff;
    padding: 10px 20px;
  }

  .logo{
    display: flex;
    padding: 0;    
  }

  .Personal{
    display: flex;
    justify-content: space-around;
    padding: 0;
  }

  .Personal div{
    margin: 0 2px 0 2px;
  }

  .secciones{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0;
  }

  .secciones button{
    margin: 5px;
  }
  